# Root-level ignores
.venv/
.env
*.env

# Python ignores
__pycache__/
*.pyc

# Node.js ignores (in case Git still detects from subfolders)
node_modules/
build/
dist/
npm-debug.log*

# IDE & system files
.vscode/
.idea/
.DS_Store
